BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignArrayOfStructures: Right
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Attach
BreakTemplateDeclarations: No
ColumnLimit: 0
FixNamespaceComments: false
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
SortIncludes: false
TabWidth: 4
UseTab: Never
